.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(124, 124, 124, 0.3);
    z-index: 1;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__notification--setting {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: tomato;
    right: -5px;
    top: -15px;
}
